.project-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  margin-bottom: 2em;
  width: 80%;
}

.project-card {
  transition: transform 0.3s, filter 0.3s;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 20%);
  background-color: white;
}

.project-card:hover {
  transform: scale(1.05);
  filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 20%));
}

@media (min-width: 575px) {
    .project-wrapper{
        width: 100%;
    }
}